*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.nav-bar {
    text-align: center;
    background-color: #1E1E20;
    width: 100%;
    display: none;
}

.logo {
    padding: 10px 0;
}

.nav li {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 0;
    list-style: none;

}

.nav a {
    color: white;
}

.nav a {
    text-decoration: none;
}

@media (min-width: 600px) {

    .nav-bar {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-around;
    }

    .nav li {
        border: none;
    }
}

@media (min-width: 900px) {

    .mobile-nav-bar {
        display: none !important;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .logo {
        margin: 0 0 0 0.4em;
        padding: 0;
    }

    .nav a {
        padding: 1em;
    }
}

#logo-spinner,
#logo-text {
    width: 60px;
    vertical-align: middle;
}

#logo-spinner {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}

#logo-text {
    width: 250px;
    height: 80px;
    position: absolute;
    top: -1px;
    left: 26px;
    z-index: 2;
}

.main-container {
    background-color: #2B2C2F;
    width: 100vw;
    height: 100vh;
}

.nav a:hover {
    color: rgba(2, 143, 251, 0.8);
}

header {
    height: 900px;
    padding: 20px;
    background-image: url(/img/ghosts.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

header > div {
    margin-top: 200px;
}

header p {
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
}

header a {
    display: inline-block;
    margin-top: 20px;
    background-color: #028FFB;
    border-radius: 4px;
    line-height: 20px;
    padding: 5px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(2, 143, 251, 0.8);
}

.mobile-nav-bar {
    background-color: #1E1E20;
    position: relative;
  }
  
  .mobile-nav-bar #myLinks {
    display: none;
  }
  
  .mobile-nav-bar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .mobile-nav-bar a.icon {
    background: #1E1E20;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  a.icon > i {
      float: right;
  }
    
  .active {
    background-color: #4CAF50;
    color: white;
  }